[submodule "lib/traceutil"]
	path = lib/traceutil
	url = https://github.com/smackesey/traceutil
[submodule "lib/pfacets"]
	path = lib/pfacets
	url = https://github.com/smackesey/pfacets
[submodule "lib/quasinewton"]
	path = lib/quasinewton
	url = https://github.com/smackesey/quasinewton
